<h2>Om webbplatsen</h2>
<p id="aboutText">Denna webbplats har skapats med hjälp av Angular 19.2.0. Koden är därför skriven
    i TypeScript. Jag upplevde att så länge jag tog mig tiden att sätta mig in i Angular innan - titta 
    på alla föreläsningar, läsa allt material under Teori och läsanvisningar och även i länkarna samt öva 
    på exempeluppgifter, så var det relativt enkelt att komma in i rätt tänk. <br><br>Det finns många bra funktioner
    i Angular som underlättar för att skriva kod och strukturen med komponenter och routing samt databindning 
    känns väl utvecklad och relativt lättjobbad när man väl kommer igång. Jag tyckte att dokumentationen var tydlig
    och användbar. Jag upplevde inte samma typ av stress
    under denna uppgift som jag gjort med vissa andra. Det kan bero på att uppgiften var förhållandevis enkel. Dock 
    återstår det att lyckas publicera webbplatsen, så vi får se hur det går!
</p>
