
body {
    background-color: lavenderblush;
    color:darkmagenta;
    font-family:'Courier New', Courier, monospace;
    font-size: 1em;
    overflow-x: hidden;
    margin: 0 auto; 
}

p, h1, h2 {
    padding: 1%;
    text-align: center;
}