
body {
    background-color: lavenderblush;
    color:darkmagenta;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.1em;
    overflow-x: hidden;
    margin: 0 auto; 
}

footer, header {
    background-image: linear-gradient(lavender, lightpink);
    padding: 2%;
}