<h2>Startsida</h2>
<div id="flexContainer">
<img src="images/spring.jpg" alt="närbild på rosa körsbärsblommor">
<p>Nu är det vår till slut. I min hemstad Sala blommar körsbärsträden rosa. Det verkar vara ett nytt mode med
    rosa körsbärsträd, antagligen är det inte några inhemska sorter. Kanske snarare japanska. <br><br>
    Körsbärsträdet som
    växte i vår trädgård när jag var liten hade vita blommor. Det gav körsbär man kunde äta. Jag brukade 
    klättra upp i det trädet med en stege och plocka bär, för det växte inga längre ner. Men det 
    trädet var så gammalt att det dog. Samma sak med plommonträdet som växte en bit bort. Nu finns det
    rabarber, svarta och röda vinbär, smultron, hallon, olika äppelsorter och jordgubbar kvar i trädgården.
</p>
<img [src]=moreSpringImg alt="körsbärsträd med upplysta rosa blommor">
</div>
