<div id="headerDiv"><h2>Startsida</h2></div>
<div id="flexContainer">
<img src="images/spring.jpg" alt="närbild på rosa körsbärsblommor" id="spring">
<p>Nu är det vår till slut. I min hemstad Sala blommar körsbärsträden rosa. Det verkar vara ett nytt mode med
    rosa körsbärsträd, antagligen är det inte några inhemska sorter. Snarare japanska. <br><br>
    Körsbärsträdet som
    växte i vår trädgård när jag var liten hade vita blommor. Det gav ätbara bigarråer. Jag brukade 
    klättra upp i det trädet med en stege och plocka dem, för det växte inga längre ner. Men det 
    trädet dog, kanske för att det var gammalt. Samma sak hände med plommonträdet som växte en bit bort. <br><br>Nu finns det
    rabarber, svarta och röda vinbär, smultron, hallon, olika äppelsorter och jordgubbar kvar i trädgården.
    Samt lite mynta, oregano och gräslök och andra örter. <br><br>
    Jag visste inte riktigt vad jag skulle göra med startsidan, det fick bli bilderna som inspirerade till texten.
</p>
<img [src]=moreSpringImg alt="körsbärsträd med upplysta rosa blommor" id="moreSpring">
</div>
